In [30]:
import pandas as pd
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [31]:
data=pd.read_csv("/home/root1/zoo_data.csv",header=None)

In [32]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [33]:
data.drop(data.columns[0],axis=1,inplace=True)

In [34]:
data

     1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17
0     1   0   0   1   0   0   1   1   1   1   0   0   4   0   0   1   1
1     1   0   0   1   0   0   0   1   1   1   0   0   4   1   0   1   1
2     0   0   1   0   0   1   1   1   1   0   0   1   0   1   0   0   4
3     1   0   0   1   0   0   1   1   1   1   0   0   4   0   0   1   1
4     1   0   0   1   0   0   1   1   1   1   0   0   4   1   0   1   1
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
96    1   0   0   1   0   0   0   1   1   1   0   0   2   1   0   1   1
97    1   0   1   0   1   0   0   0   0   1   1   0   6   0   0   0   6
98    1   0   0   1   0   0   1   1   1   1   0   0   4   1   0   1   1
99    0   0   1   0   0   0   0   0   0   1   0   0   0   0   0   0   7
100   0   1   1   0   1   0   0   0   1   1   0   0   2   1   0   0   2

[101 rows x 17 columns]

In [35]:
col=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
x=data.iloc[:,col]
x

     2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17
0     0   0   1   0   0   1   1   1   1   0   0   4   0   0   1   1
1     0   0   1   0   0   0   1   1   1   0   0   4   1   0   1   1
2     0   1   0   0   1   1   1   1   0   0   1   0   1   0   0   4
3     0   0   1   0   0   1   1   1   1   0   0   4   0   0   1   1
4     0   0   1   0   0   1   1   1   1   0   0   4   1   0   1   1
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
96    0   0   1   0   0   0   1   1   1   0   0   2   1   0   1   1
97    0   1   0   1   0   0   0   0   1   1   0   6   0   0   0   6
98    0   0   1   0   0   1   1   1   1   0   0   4   1   0   1   1
99    0   1   0   0   0   0   0   0   1   0   0   0   0   0   0   7
100   1   1   0   1   0   0   0   1   1   0   0   2   1   0   0   2

[101 rows x 16 columns]

In [36]:
y=data.iloc[:,16]
y

0      1
1      1
2      4
3      1
4      1
      ..
96     1
97     6
98     1
99     7
100    2
Name: 17, Length: 101, dtype: int64

In [37]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=.2,test_size=.8)

In [38]:
clf=DecisionTreeClassifier().fit(x_train,y_train)

In [39]:
pred=clf.predict(x_test)

In [40]:
print('Accuracy of classifier on test set:{:.2f}'.format(clf.score(x_test,y_test)))
print()
print(confusion_matrix(y_test,pred))
print()
print(classification_report(y_test,pred))

Accuracy of classifier on test set:0.81

[[35  0  0  0  0  0  0]
 [ 0 16  0  0  0  0  0]
 [ 0  0  3  1  0  0  0]
 [ 0  0  0  8  0  0  0]
 [ 0  0  4  0  0  0  0]
 [ 0  0  0  0  0  4  0]
 [ 0  0  0  7  0  3  0]]

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        35
           2       1.00      1.00      1.00        16
           3       0.43      0.75      0.55         4
           4       0.50      1.00      0.67         8
           5       0.00      0.00      0.00         4
           6       0.57      1.00      0.73         4
           7       0.00      0.00      0.00        10

    accuracy                           0.81        81
   macro avg       0.50      0.68      0.56        81
weighted avg       0.73      0.81      0.76        81

/home/root1/.local/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/root1/.local/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/root1/.local/lib/python3.6/site-packages/sklearn/metrics/_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))